name: Python CI
# Trigger the workflow on any push or pull to main branch 
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
        # Step 1 : check out code from repo
      - name: Check out code
        uses: actions/checkout@v4

        # Step 2 : Ste up Python env
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"
        
        # Step 3 : Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8 pytest

      - name: Lint with flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
        
        # Step 4 : Run test
      - name: Run tests
        run: pytest
